<!DOCTYPE html>
<html>

<head>
    <title> </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>




<div class="jumbotron text-center">
        <h1>Users</h1> 
      </div>
      
      <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Full Name</h3>
            </div>
            <div class="col-sm-4">
                <h3>Email</h3>
            </div>
            <div class="col-sm-4">
                <h3>Phone</h3> 
            </div>
        </div>
         <% for(var i=0;i<users.length;i++){%> 
        <div class="row">
          <div class="col-sm-4">
            <h3><%=users[i].name %></h3>
          </div>
          <div class="col-sm-4">
                <h3><%=users[i].email %></h3>
          </div>
          <div class="col-sm-4">
                <h3><%=users[i].phone %></h3> 
          </div>
        </div>
        <%}%>
      </div>
</body>

</html>